.Logo {
    background-color: white;
    padding: 8px;
    /* Decided to switch this back to 100% (from 80) to control where it's used. */
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 100%;
}